@page
@model Gym_Bobescu.Pages.Clienti.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.AntrenorID" class="control-label">NumeAntrenor</label>
                <select asp-for="Client.AntrenorID" class="form-control" asp-items="ViewBag.AntrenorID">
                </select>
                <span asp-validation-for="Client.AntrenorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Nume" class="control-label"></label>
                <input asp-for="Client.Nume" class="form-control" />
                <span asp-validation-for="Client.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Prenume" class="control-label"></label>
                <input asp-for="Client.Prenume" class="form-control" />
                <span asp-validation-for="Client.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Greutate" class="control-label"></label>
                <input asp-for="Client.Greutate" class="form-control" />
                <span asp-validation-for="Client.Greutate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Born" class="control-label"></label>
                <input asp-for="Client.Born" class="form-control" />
                <span asp-validation-for="Client.Born" class="textdanger"></span>
            <div class="form-group">
            </div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
